.u-section-1 {background-image: url("images/bg1.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 600px}
.u-section-1 .u-text-1 {font-size: 6.875rem; font-weight: 700; text-transform: uppercase; margin: 84px 528px 0 0}
.u-section-1 .u-text-2 {font-size: 1.875rem; margin: 76px 535px 0 0}
.u-section-1 .u-social-icons-1 {white-space: nowrap; height: 32px; min-height: 16px; width: 158px; min-width: 94px; margin: 31px auto 60px 0}
.u-section-1 .u-icon-1 {height: 100%}
.u-section-1 .u-icon-2 {height: 100%}
.u-section-1 .u-icon-3 {height: 100%}
.u-section-1 .u-icon-4 {height: 100%} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 601px}
.u-section-1 .u-text-1 {width: auto; font-size: 4.5rem; margin-top: 163px; margin-right: 454px}
.u-section-1 .u-text-2 {font-size: 1.5rem; width: auto; margin-top: 24px; margin-right: 454px}
.u-section-1 .u-social-icons-1 {margin-top: 24px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 545px}
.u-section-1 .u-text-1 {margin-top: 248px; margin-right: 234px}
.u-section-1 .u-text-2 {margin-right: 234px} }

@media (max-width: 767px){ .u-section-1 {background-position: 0% 50%}
.u-section-1 .u-sheet-1 {min-height: 460px}
.u-section-1 .u-text-1 {font-size: 3.75rem; margin-top: 176px; margin-right: 54px}
.u-section-1 .u-text-2 {font-size: 1.25rem; margin-right: 210px}
.u-section-1 .u-social-icons-1 {margin-bottom: 40px} }

@media (max-width: 575px){ .u-section-1 {background-position: 52.31% 0%}
.u-section-1 .u-sheet-1 {min-height: 548px}
.u-section-1 .u-text-1 {font-size: 3rem; margin-top: 258px; margin-right: 98px}
.u-section-1 .u-text-2 {margin-right: 70px}
.u-section-1 .u-social-icons-1 {margin-bottom: 60px} }.u-section-2 .u-sheet-1 {min-height: 720px}
.u-section-2 .u-text-1 {margin: 47px auto 0}
.u-section-2 .u-text-2 {font-style: italic; margin: 26px auto 0}
.u-section-2 .u-layout-wrap-1 {margin: 20px auto 3px 0}
.u-section-2 .u-layout-cell-1 {min-height: 547px}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-image-1 {width: 240px; height: 240px; background-image: url("images/hemanta.jpeg"); background-position: 50% 50%; margin: 0 auto}
.u-section-2 .u-text-3 {text-transform: uppercase; font-size: 1.5rem; margin: 12px auto 0}
.u-section-2 .u-text-4 {font-weight: 700; margin: 20px auto 0}
.u-section-2 .u-text-5 {font-style: italic; margin: 23px auto 0 0}
.u-section-2 .u-social-icons-1 {white-space: nowrap; height: 27px; min-height: 16px; width: 136px; min-width: 94px; margin: 20px auto 0}
.u-section-2 .u-icon-1 {height: 100%}
.u-section-2 .u-icon-2 {height: 100%}
.u-section-2 .u-icon-3 {height: 100%}
.u-section-2 .u-icon-4 {height: 100%}
.u-section-2 .u-layout-cell-2 {min-height: 547px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-image-2 {width: 240px; height: 240px; background-image: url("images/WhatsAppImage2020-08-12at6.35.06PM.jpeg"); background-position: 50% 50%; margin: 0 auto}
.u-section-2 .u-text-6 {text-transform: uppercase; font-size: 1.5rem; margin: 12px auto 0}
.u-section-2 .u-text-7 {font-weight: 700; margin: 20px auto 0}
.u-section-2 .u-text-8 {font-style: italic; margin: 23px auto 0 0}
.u-section-2 .u-social-icons-2 {white-space: nowrap; height: 27px; min-height: 16px; width: 136px; min-width: 94px; margin: 20px auto 0}
.u-section-2 .u-icon-5 {height: 100%}
.u-section-2 .u-icon-6 {height: 100%}
.u-section-2 .u-icon-7 {height: 100%}
.u-section-2 .u-icon-8 {height: 100%} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 671px}
.u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 451px}
.u-section-2 .u-layout-cell-2 {min-height: 451px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 320px}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-image-1 {width: 180px; height: 180px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-image-2 {width: 180px; height: 180px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 420px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 798px}
.u-section-3 .u-text-1 {text-transform: uppercase; font-weight: 700; font-size: 1.875rem; margin: 31px 411px 0 430px}
.u-section-3 .u-layout-wrap-1 {margin: 39px auto 1px 0}
.u-section-3 .u-layout-cell-1 {min-height: 240px}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-icon-1 {height: 48px; width: 48px; margin: 0 auto}
.u-section-3 .u-text-2 {margin-left: auto; font-weight: 700; margin-bottom: 0; margin-right: auto}
.u-section-3 .u-text-3 {margin: 20px 9px 0}
.u-section-3 .u-layout-cell-2 {min-height: 240px}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-icon-2 {height: 48px; width: 48px; margin: -1px auto 0}
.u-section-3 .u-text-4 {font-weight: 700; text-transform: uppercase; margin: 21px auto 0 44px}
.u-section-3 .u-text-5 {margin: 19px auto 0}
.u-section-3 .u-layout-cell-3 {min-height: 240px}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-icon-3 {height: 48px; width: 48px; margin: 0 auto}
.u-section-3 .u-text-6 {font-weight: 700; text-transform: uppercase; margin: 20px auto 0 97px}
.u-section-3 .u-text-7 {margin: 19px auto 0}
.u-section-3 .u-layout-cell-4 {min-height: 240px}
.u-section-3 .u-container-layout-4 {padding: 30px}
.u-section-3 .u-icon-4 {height: 48px; width: 48px; margin: 0 auto}
.u-section-3 .u-text-8 {font-weight: 700; text-transform: uppercase; margin: 19px auto 0 91px}
.u-section-3 .u-text-9 {margin: 14px auto 0}
.u-section-3 .u-layout-cell-5 {min-height: 455px}
.u-section-3 .u-container-layout-5 {padding: 30px}
.u-section-3 .u-text-10 {text-transform: uppercase; font-weight: 700; font-size: 1.5rem; margin: 0 auto 0 0}
.u-section-3 .u-form-1 {height: 291px; margin: 24px -60px 0 0}
.u-section-3 .u-btn-1 {background-image: none; border-style: solid}
.u-section-3 .u-layout-cell-6 {min-height: 455px}
.u-section-3 .u-container-layout-6 {padding: 30px}
.u-section-3 .u-text-11 {margin-top: 0; text-transform: uppercase; font-weight: 700; font-size: 1.5rem; margin-bottom: 0}
.u-section-3 .u-map-1 {height: 296px; margin: 22px auto 0 0} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 430px}
.u-section-3 .u-text-1 {margin-right: 311px; margin-left: 330px}
.u-section-3 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 198px}
.u-section-3 .u-text-3 {margin-left: 7px; margin-right: 7px}
.u-section-3 .u-layout-cell-2 {min-height: 244px}
.u-section-3 .u-text-4 {margin-left: auto}
.u-section-3 .u-layout-cell-3 {min-height: 198px}
.u-section-3 .u-text-6 {margin-left: 75px}
.u-section-3 .u-layout-cell-4 {min-height: 198px}
.u-section-3 .u-text-8 {margin-left: auto}
.u-section-3 .u-layout-cell-5 {min-height: 265px}
.u-section-3 .u-form-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-6 {min-height: 265px}
.u-section-3 .u-map-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 732px}
.u-section-3 .u-text-1 {margin-right: 201px; margin-left: 220px}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-text-3 {width: auto; margin-left: auto; margin-right: auto}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-icon-2 {margin-top: 0}
.u-section-3 .u-layout-cell-3 {min-height: 100px}
.u-section-3 .u-text-6 {margin-left: auto}
.u-section-3 .u-layout-cell-4 {min-height: 100px}
.u-section-3 .u-layout-cell-5 {min-height: 100px}
.u-section-3 .u-layout-cell-6 {min-height: 100px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 1618px}
.u-section-3 .u-text-1 {margin-right: 111px; margin-left: 130px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-6 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 1055px}
.u-section-3 .u-text-1 {margin-right: 11px; margin-left: 30px; font-size: 1.5rem}
.u-section-3 .u-form-group-1 {width: 100%}
.u-section-3 .u-form-group-2 {width: 100%}
.u-section-3 .u-form-group-3 {width: 100%}
.u-section-3 .u-form-group-4 {width: 100%} }