{% load static %}
<!-- ##### Header Area End ##### -->
    {% block navbar %}{% include 'navbar.html' %}{% endblock%}


    <!-- ##### Hero Area Start ##### -->
    <div class="breadcumb-area">
        <!-- Breadcumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Blog</a></li>
                
            </ol>
        </nav>
    </div>
    
    
    
    
    <div class="clever-catagory bg-img d-flex align-items-center justify-content-center p-3" style="background-image: url({% static 'home/img/bg-img/bg2.jpg' %});">
        <h3>Our Blog</h3>
    </div>
	<img src="{% static 'home/img/bg-img/IMG_0841.jpg' %}" style="opacity: 0.1">
    <!-- ##### Hero Area End ##### -->


<div class="page-section spad">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-7 blog-posts">
					<!-- Post item -->
                    {% for b in bcont%}
					<div class="post-item">
						<div class="post-thumbnail" >
							<img src="{{b.blog_image.url}}" alt="">
							<div class="post-date">
								
								<h3>{{b.date_of_publish}}</h3>
							</div>
						</div>
						<div class="post-content">
							<h2 class="post-title " ><b>{{b.title}}</b></h2>
							
									{% for tag in b.tags.all %}
									<a href="{% url 'tagged' tag.slug %}" class="mr-1 badge badge-info">#{{ tag }}</a>
									{% endfor %}
							<div class="post-meta">
								<a href="">{{b.author}}</a>
								<a href="">{{b.about_designation}}</a>
								
							</div>
							<p>{{ b.article|safe|truncatewords:"50" }}
      							<a href="{% url 'blog_details' b.id%}">read more</a>
							</p>
						</div>
					</div>
					{%endfor%}
					<!-- Pagination -->
					      
							<div class="row ">
								<div class="col-12 ">
									
									<div class="pagination justify-content-center">
										<div class="load-more text-center wow fadeInUp" data-wow-delay="50ms">
											{% if bcont.has_previous %}
											<a class="pagination-action" href="?page=1">
												<i class="fa fa-angle-double-left" aria-hidden="true"></i> </a>
											<a class="pagination-action" href="?page={{ bcont.previous_page_number }}">
												<i class="fa fa-angle-left" aria-hidden="true"></i>
											</a>
											{% endif %}
											{% for num in bcont.paginator.page_range %}
												{% if bcont.number == num %}
													<span class="pagination-number pagination-current">{{ num }}</span>
												{% elif num > bcont.number|add:'-3' and num < bcont.number|add:'3' %}
													<a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
												{% endif %}
											{% endfor %}
											{% if bcont.has_next %}
												<a class="pagination-action" href="?page={{ bcont.next_page_number }}">
													<i class="fa fa-angle-right" aria-hidden="true"></i>
												</a>
												<a class="pagination-action" href="?page={{ bcont.paginator.num_pages }}">
													<i class="fa fa-angle-double-right" aria-hidden="true"></i>
												</a>
											{% endif %}
										</div>  
									</div>
									
								</div>
							</div>
					


				</div>
				<!-- Sidebar area -->
				<div class="col-md-4 col-sm-5 sidebar">
					<!-- Single widget -->
					<div class="widget-item">
						
					</div>
					<!-- Single widget -->
					<div class="widget-item">

						<h2 class="widget-title">Categories</h2>
						<ul>
                        	{% for cat in category%}
							<li><a href="{% url 'blog_cat' cat.id %}">{{cat.title}}  <span style="float:right;">{{ cat.blog_set.count }}</span><hr></a></li>
							{%endfor%}	
						</ul>
					</div>
					<!-- Single widget -->
					<div class="widget-item">
						<h2 class="widget-title">Instagram</h2>
						<ul class="instagram">
							<li><img src="img/instagram/1.jpg" alt=""></li>
							<li><img src="img/instagram/2.jpg" alt=""></li>
							<li><img src="img/instagram/3.jpg" alt=""></li>
							<li><img src="img/instagram/4.jpg" alt=""></li>
							<li><img src="img/instagram/5.jpg" alt=""></li>
							<li><img src="img/instagram/6.jpg" alt=""></li>
						</ul>
					</div>
					<!-- Single widget -->
					<div class="widget-item">
						<h2 class="widget-title">Tags</h2>
						<ul class="tag">
							{% for t in tag_all%}
							{% if forloop.counter < 20 %}
							<li><a href="{% url 'tagged' t.slug %}"> # {{t.name}}</a></li>
							{%endif%}
						{%endfor%}
						</ul>
					</div>
					<!-- Single widget -->
					<div class="widget-item">
						<h2 class="widget-title">Quote</h2>
						<div class="quote">
							<span class="quotation">‘​‌‘​‌</span>
							<p>Vivamus in urna eu enim porttitor consequat. Proin vitae pulvinar libero. Proin ut hendrerit metus. Aliquam erat volutpat. Donec fermen tum convallis ante eget tristique. Sed lacinia turpis at ultricies vestibulum.</p>
						</div>
					</div>
					<!-- Single widget -->
					<div class="widget-item">
						<h2 class="widget-title">Add</h2>
						<div class="add">
							<a href=""><img src="img/add.jpg" alt=""></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- page section end-->




     <!-- # Footer Area Start ##### -->
    {% block footer %}{% include 'footer.html' %}{% endblock footer%}
   
</body>

</html>