{%load static %}
<footer class="footer-area">
        <!-- Top Footer Area -->
        <div class="top-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        
                        <div class="footer-logo">
                            <a href="{% url 'eMahei' %}"><img src="{% static 'home/img/core-img/logo-footer.png' %}" alt="" width="300px"></a>
                        </div>
                        
                        <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | eMahei </p>
                    </div>
                </div>
            </div>
        </div>

</footer>
    <!-- ##### Footer Area End ##### -->