{% load static %}
 {% block navbar %}{% include 'navbar.html' %}{% endblock%}
 


<!DOCTYPE html>
<html lang="en">
<head>
	<title>Mahei</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'login/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
{% block content %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title"  style="background-image: url('{% static "login/images/bg-01.jpeg" %}');">
					<span class="login100-form-title-1">
					
					</span>
				</div>

				<form class="login100-form" method="POST">
				{% csrf_token %}
					{% for field in form %}
						
							<div class="wrap-input100 m-b-26">
								<span class="label-input100">{{ field.label_tag }}</span>
								{{ field }}
								<span class="focus-input100"></span>
								{% for message in field.errors %}
									<p style="color: red">{{ message }}</p>
								{% endfor %}
							
								
							</div>
							
							
							
						
						{% endfor %}
					

					

					<div class="flex-sb-m w-full p-b-30">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

						
							<a href="#" class="txt1">
								Forgot Password?
							</a>
						</div>
						
						<p class"mb-1">Note :<br>
						Your password can’t be too similar to your other personal information, must contain at least 8 characters, can’t be a commonly used password and can’t be entirely numeric.<br></p>
						<br>

					
					
				
					<div class="container-login100-form-btn">
						<input type="submit" class="login100-form-btn" value="Register">
						
					</div>

					<div class="text-left w-full">
						<a class="txt1" href="{% url 'signin' %}">
							<br>Already have an Account ! Sign In
							<i class="fa fa-long-arrow-right"></i>						
						</a>
				</div>
				</form>
				
			</div>
		</div>
	</div>

{% endblock %}

			</div>
			
		</div>
	</div>


{% block footer %}{% include 'footer.html' %}{% endblock footer%}
    <!-- # Footer Area End ##### -->

</body>
</html>